[data-reveal] {
  --rx: 0px;
  --ry: 16px;
  --reveal-delay: 0ms;
}
[data-reveal][data-reveal-dir="up"] {
  --rx: 0px;
  --ry: 16px;
}
[data-reveal][data-reveal-dir="down"] {
  --rx: 0px;
  --ry: -16px;
}
[data-reveal][data-reveal-dir="left"] {
  --rx: -16px;
  --ry: 0px;
}
[data-reveal][data-reveal-dir="right"] {
  --rx: 16px;
  --ry: 0px;
}
.reveal {
  opacity: 0;
  transform: translate3d(var(--rx), var(--ry), 0);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
  transition-delay: var(--reveal-delay);
  will-change: opacity, transform;
}
.reveal.is-visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
