@import "./base/tokens.css";
@import "./base/reset.css";
@import "./base/typography.css";
@import "./base/globals.css";

@import "./layout/layout.css";
@import "./layout/grid.css";

@import "./components/header.css";
@import "./components/nav.css";

@import "./pages/home.css";

@import "./components/cards.css";
@import "./components/forms.css";
@import "./components/buttons.css";

@import "./components/footer.css";

@import "./pages/about.css";
@import "./pages/menu.css";
@import "./pages/gallery.css";
@import "./pages/legal.css";

@import "./components/lightbox.css";

@import "./utilities/animations.css";
@import "./components/sections.css";
@import "./utilities/states.css";
@import "./utilities/helpers.css";

@import "./components/modal.css";
