<link rel="icon" href="assets/favicon.svg" type="image/svg+xml" />
<link rel="stylesheet" href="css/tokens.css" />
<link rel="stylesheet" href="css/base.css" />
<link rel="stylesheet" href="css/layout.css" />
<link rel="stylesheet" href="css/components/buttons.css" />
<link rel="stylesheet" href="css/components/cards.css" />
<link rel="stylesheet" href="css/components/nav.css" />
<link rel="stylesheet" href="css/components/footer.css" />
<link rel="stylesheet" href="css/components/forms.css" />
<link rel="stylesheet" href="css/components/badges.css" />
<link rel="stylesheet" href="css/components/dropdown.css" />
<link rel="stylesheet" href="css/main.css" />
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "EverAfter Ring",
    "url": "https://www.everafterring.pl/",
    "description": "Butikowa agencja wedding planning & coordination.",
    "areaServed": "Polska",
    "telephone": "+48 000 000 000",
    "email": "kontakt@everafterring.pl"
  }
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "EverAfter Ring",
    "url": "https://www.everafterring.pl/"
  }
</script>
